.main-view-container {
    /* border: 1px solid; */
    padding-left: 1.5rem;
    /* border-bottom: 5px solid red; */
    height: 100vh;
    padding-bottom: 1.3rem;
    padding-top: 1rem;
    /* display: none; */
}

.list-view {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 3rem;
    /* border: 2px solid; */
    height: 100%;
}

.list-title {
    display: flex;
    align-items: end;
    gap: 2rem;
    /* background-color: red; */
    align-items: center;
}

.list-exit {
}

.title {
    font-size: 2.6rem;
    font-family: 'Lexend Deca semibold';
}

.title-list-count {
    border: 1px solid var(--bg-color-tetiary);
    display: flex;
    font-size: 2rem;
    border-radius: 10px;
    padding: .2rem 1rem;
}

.list-body {
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    max-height: 100%;
    overflow: auto;
}

.add-task-btn {
    border: 1px solid var(--bg-color-tetiary);
    display: flex;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    color: var(--font-light-color);
}

.task-entry-container {
    display: grid;
}

.add-task-wrapper {
    display: grid;
}

.add-task-wrapper,
.task-entry-container {
    padding-right: 1.5rem;    
}

.list-scroll {
    /* border: 3px solid orangered; */
    /* height: 100%; */
    overflow: auto;
}

.task-entry-container button {
    /* display: grid; */
    border-bottom: 1px solid var(--bg-color-tetiary);
    text-align: left;
}

.task-entry-container button .task-main{
    display: flex;
    padding: 1rem 1.5rem;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

.task-main div {
    display: flex;
    gap: 1rem;
    /* background-color: red; */
    align-items: center;
}

.task-entry-container button:last-of-type {
    border: none;
}


.task-main-icon-dropdown {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    background-color: red;
}

div.task-dropdown-bg {
    /* color: red; */
    /* background-color: blue; */
    /* width: 100px; */
    /* font-size: 5rem; */
    /* height: 10px; */
    display: flex;
}

.dropdown-option {
    background-color: orange;
    position: absolute;
    position: relative;
    display: none;
}

button.delete {
    /* color: red; */
    /* display: none; */
    /* font-size: 5rem; */
    width: fit-content;
    display: flex;
}

.hide {
    display: none;
}